{% extends 'pgups/base.html' %}
{% load staticfiles %}
{% load extras %}
{% block content %}

<!-- Notie messages -->
{% for message in messages %}
	<script src="{% static 'js/notie.min.js' %}"></script>
	<script> notie.alert(1, 'Изменения сохранены', 0.5); </script>
{% endfor %}

<div class="container">

	<!-- Heading -->
	<div class="heading">

			<h1>Заявители</h1>

	</div> <!--End of Heading -->

		{% if request.user|has_group:"moderators" %}
        {% for a in data.applicants %}

        {{a}}<br>

        {% endfor %}

        <form method="POST" action=".">{% csrf_token %}

            <input type="text" name="login" >
            <input type="text" name="password" >

            <select name="team_id">
                <option selected value="0">Индивидуальная заявка</option>
                {% for team_id, team_name in data.teams.items %}
                <option value="{{team_id}}">{{team_name}}</option>
                {% endfor %}
            </select>

            <button type="submit">Добавить</button>

        </form>



		{% endif %}
</div>

{% endblock %}
