{% extends 'pgups/base.html' %}
{% load staticfiles %}
{% load extras %}
{% block content %}

<!-- Notie messages -->
{% for message in messages %}
	<script src="{% static 'js/notie.min.js' %}"></script>
	<script> notie.alert(1, 'Изменения сохранены', 0.5); </script>
{% endfor %}

<div class="container">

	<!-- Heading -->
	<div class="heading">

			<h1>Заявители</h1>

	</div> <!--End of Heading -->

		{% if request.user|has_group:"moderators" %}

    <form method="POST" action=".">{% csrf_token %}
        <input type="hidden" name="status_change" value="1">
        {% for a in data.applicants %}

        {% if a.user.is_active %} <b> {% endif %}{{a.user}}
        ({{a.team.name}}) {% if a.user.is_active %} </b> {% endif %} <input
                {% if  a.user.is_active %} checked {% endif %}
                type="checkbox" name="applicant[]"
                value="{{a.user.id}}"><br>

        {% endfor %}

        <h2>Индивидуальные заявители:</h2>

        {% for a in data.ind_applicants %}

        {% if a.is_active %} <b> {% endif %}{{a}}{% if a.is_active %} </b>{% endif %}
        <input
                {% if  a.is_active %} checked {% endif %}
                type="checkbox" name="applicant[]"
                value="{{a.id}}">
        <br>

        {% endfor %}

        <br><button type="submit">Сохранить изменения</button>


    </form>

    <hr>

        <form method="POST" action=".">{% csrf_token %}

            <input type="text" name="login" >
            <input type="text" name="password" >

            <select name="team_id">
                <option selected value="0">Индивидуальная заявка</option>
                {% for team_id, team_name in data.teams.items %}
                <option value="{{team_id}}">{{team_name}}</option>
                {% endfor %}
            </select>

            <button type="submit">Добавить</button>

        </form>



		{% endif %}
</div>

{% endblock %}
