{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap CSS-->
	<link href="{% static 'css/main.css' %}" rel="stylesheet"> <!-- Main CSS -->
	<link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet"> <!-- jQueryUI CSS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> <!-- jQuery core -->
	<script src="{% static 'js/jquery-ui.min.js' %}"></script> <!-- jQueryUI -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> <!-- Bootstrap JS -->

</head>

<body>

	<!-- Nav -->
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div id="navbar">
				<ul class="nav navbar-nav">
					<li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span> Главная</a></li>
					<li><a href="{% url 'regrequest' %}">Подать заявку</a></li>
					{% if user.is_authenticated %}
					<li><a href="{% url 'competitioncreate' %}">Зарегистрировать соревнования</a></li>
					{% endif %}
				</ul>
				<div class="login pull-right">
					<span>
						{% if user.is_authenticated %}
							Здравствуйте, {{user.username}} <a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Выйти</a>
						{% else %}
							Вы не залогинены  <a href="{% url 'login' %}"> <span class="glyphicon glyphicon-log-in"></span> Войти</a>
						{% endif %}
					</span>
				</div>
			</div>
		</div>
	</nav> <!-- End of Nav -->

	{% block content %}
	{% endblock %}

	<!-- Footer -->
	<footer class="footer">
		<div class="container"></div>
	</footer> <!-- End of Footer -->

	<!-- Additional JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script> <!-- AngularJS -->
	<script src="{% static 'js/notie.js' %}"></script> <!-- Notie -->

	{% block additionaljs %}
	{% endblock %}

</body>
</html>
