{% extends 'pgups/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container">

	<div class="heading">
		<h2 class="bold">Команда {{team.name}}</h2>
	</div>

	<table class="single-cdsg-table table table-striped table-hover table-bordered">
		<tbody>
				{% for item in result  %}
					<tr>
						<td class="team-name">{{item.0.last_name}} {{item.0.first_name}}</td>
						<td class="team-competitors">
							{% for competitor in item.1  %} 
								{{competitor.tour}} <br> 
							{% endfor %}
						</td>
					</tr>
				{% endfor %}
		</tbody>
	</table>

</div>

{% endblock %}