{% extends 'pgups/base.html' %}
{% load staticfiles %}
{% block content %}

	{% if user.is_authenticated %}

	<!-- createCompetitionApp -->
	<div ng-app="createCompetitionApp" ng-controller="CreationFormController as $ctrl">

		<input type="hidden" name="csrf_token" ng-init="csrf_token='{{csrf_token}}'" ng-model="csrf_token">

		<!-- Container -->
		<div class="container">

			<!-- DEBUG -->
			<input type="checkbox" ng-model="showDebugData" id="debug"><label for="debug"> DEBUG: показать данные</label>
			<pre ng-show="showDebugData">{$ $ctrl.data | json $}</pre>
			<!-- DEBUG -->

			<form name="creationForm" class="form-horizontal" role="form" novalidate> <!-- creationForm -->

				<!-- Step 1 -->
				<div ng-show="$ctrl.stepCounter.step === 1" class="animation-show-hide">

					<!-- Heading -->
					<div class="heading">
						<h2>Общие настройки</h2>
					</div> <!-- End of Heading -->

					<div class="button-wrapper row">
						<button title="Продолжить" class="btn btn-lg btn-default pull-right col-xs-2" ng-click="$ctrl.step1BtnClick()" ng-disabled="creationForm.$invalid">
							<span class="glyphicon glyphicon-arrow-right"></span>
						</button>
					</div>

					<div class="creation-form">

						<!-- Name -->
						<div class="form-group">
							<label class="col-xs-4 control-label text-left" for="name">Название:</label>
							<div class="col-xs-5">
								<input class="form-control" name="name" ng-model="$ctrl.data.name" type="text" required/>
								<p class="error-block" ng-show="creationForm.name.$dirty && creationForm.name.$error.required">Введите название</p>
							</div>
						</div> <!-- End of Name -->

						<!-- Type -->
						<div class="form-group">
							<label class="col-xs-4 control-label text-left" for="representative">Тип:</label>
							<div class="col-xs-5">
								<select class="form-control" name="type" ng-model="$ctrl.data.type" required/>
									<option value="0">детские</option>
									<option value="1">взрослые</option>
									<option value="2">смешанные</option>
								</select>
								<p class="error-block" ng-show="creationForm.type.$dirty && creationForm.type.$error.required">Выберите тип</p>
							</div>
						</div> <!-- End of Type -->

						<!-- Start date -->
						<div class="form-group">
							<label class="col-xs-4 control-label text-left" for="name">Дата начала:</label>
							<div class="col-xs-5">
								<input class="form-control" name="date_start" ng-model="$ctrl.data.date_start" type="date" placeholder="2016-01-01" required/>
								<p class="error-block" ng-show="creationForm.date_start.$dirty && creationForm.date_start.$error.required">Введите дату начала соревнований</p>
								<p class="error-block" ng-show="creationForm.date_start.$dirty && creationForm.date_start.$error.date">Введите дату в формате 2016-01-01</p>
							</div>
						</div> <!-- End of Start date -->

						<!-- Finish date -->
						<div class="form-group">
							<label class="col-xs-4 control-label text-left" for="name">Дата завершения:</label>
							<div class="col-xs-5">
								<input class="form-control" name="date_finish" ng-model="$ctrl.data.date_finish" type="date" placeholder="2016-01-01" required/>
								<p class="error-block" ng-show="creationForm.date_finish.$dirty && creationForm.date_finish.$error.required">Введите дату завершения соревнований</p>
								<p class="error-block" ng-show="creationForm.date_finish.$dirty && creationForm.date_finish.$error.date">Введите дату в формате 2016-01-01</p>
							</div>
						</div> <!-- End of Finish date -->

					</div>

				</div> <!-- End of Step 1 -->

			</form> <!-- End of creationForm -->

			<!-- Step 2 -->
			<div ng-show="$ctrl.stepCounter.step === 2" class="animation-show-hide">

				<!-- Heading -->
				<div class="heading">
					<h2>Настройка индивидуальных дисциплин</h2>
				</div> <!-- End of Heading -->

				<div class="button-wrapper row">
					<button title="Вернуться к основным настройкам" class="btn btn-lg btn-default pull-left col-lg-2" ng-click="$ctrl.stepCounter.prev()">
						<span class="glyphicon glyphicon-arrow-left"></span>
					</button>
					<button title="Сгенерировать дисциплины" class="btn btn-lg btn-default pull-right col-lg-2" ng-click="$ctrl.step2BtnClick()" ng-disabled="$ctrl.step2BtnDisabled()">
						<span class="glyphicon glyphicon-arrow-right"></span>
					</button>
				</div>

				<div class="row"> <!-- Row -->

					<!-- Age groups -->
					<div class="col-xs-4">

						<h3>Возрастные группы</h3>

						<div class="row">
							<div class="col-xs-6">
								<div class="checkbox" ng-repeat="group in $ctrl.fetchedData.ages" ng-if="$even">
									<label>
										<input type="checkbox" value="{$ group.id $}" ng-model="group.selected" ng-disabled="$ctrl.data.type == group.kids"> {$ group.name $}
									</label>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="checkbox" ng-repeat="group in $ctrl.fetchedData.ages" ng-if="$odd">
									<label>
										<input type="checkbox" value="{$ group.id $}" ng-model="group.selected" ng-disabled="$ctrl.data.type == group.kids"> {$ group.name $}
									</label>
								</div>
							</div>
						</div>

					</div> <!-- End of Age groups -->

					<!-- Styles -->
					<div class="col-xs-4">

						<h3>Стили</h3>

						<div class="checkbox" ng-repeat="style in $ctrl.fetchedData.styles | orderBy: 'name'">
							<label>
								<input type="checkbox" value="{$ style.id $}" ng-model="style.selected"> {$ style.name $}
							</label>
						</div>

					</div> <!-- End of Styles -->

					<!-- Distances -->
					<div class="col-xs-4">

						<h3>Дистанции</h3>

						<div class="checkbox" ng-repeat="distance in $ctrl.fetchedData.distances">
							<label>
								<input type="checkbox" value="{$ distance.id $}" ng-model="distance.selected"> {$ distance.name $}
							</label>
						</div>

					</div> <!-- End of Distances -->

				</div> <!-- End of row -->

			</div> <!-- End of Step 2 -->

			<!-- Step 3 -->
			<div ng-show="$ctrl.stepCounter.step === 3" class="animation-show-hide">

				<!-- Heading -->
				<div class="heading">
					<h2>
						<span ng-if="!$ctrl.edit">Выбор дисциплин</span>
						<span ng-if="$ctrl.edit">Редактирование дисциплин</span>
					</h2>
				</div> <!-- End of Heading -->

				<div class="button-wrapper row">
					<button title="Вернуться к настройкам" class="btn btn-lg btn-default pull-left col-lg-2" ng-click="$ctrl.edit ? $ctrl.stepCounter.skipPrev() : $ctrl.stepCounter.prev()">
						<span class="glyphicon glyphicon-arrow-left"></span>
					</button>
					<button title="Перейти к редактированию эстафет" class="btn btn-lg btn-default pull-right col-lg-2" ng-click="$ctrl.step3BtnClick()" ng-disabled="$ctrl.step3BtnDisabled()">
						<span class="glyphicon glyphicon-arrow-right"></span>
					</button>
				</div>

				<!-- Creation -->
				<div ng-if="!$ctrl.edit">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="$ctrl.allToursSelected" ng-click="$ctrl.selectAll($ctrl.tours, 'allToursSelected')"> <b>Выбрать все</b>
						</label>
					</div>
					<br>
					<div class="checkbox tour-choices-{$ tour.age $}" ng-repeat="tour in $ctrl.tours">
						<label>
							<input type="checkbox" value="{$ tour.id $}" ng-model="tour.selected"> {$ tour.name $}
						</label>
					</div>
				</div> <!-- End of Creation -->

				<!-- Edit -->
				<div ng-if="$ctrl.edit">

					<!-- Add tours form -->
					<div class="row">
						<div class="add-tour-form col-xs-12">
							<!-- Form -->
							<form name="addTourForm" novalidate>

							<div class="row">

									<div class="col-xs-5">

										<div class="form-group row">
											<label class="col-xs-4 control-label text-left" for="style">Стиль:</label>
											<div class="col-xs-8">
												<select class="form-control" name="style" ng-model="$ctrl.newTour.style" ng-options="style as style.name for style in $ctrl.data.styles" required/>
													<option value="" disabled selected>Выберите стиль:</option>
												</select>
											</div>
										</div>

										<div class="form-group row">
											<label class="col-xs-4 control-label text-left" for="distance">Дистанция:</label>
											<div class="col-xs-8">
												<select class="form-control" name="distance" ng-model="$ctrl.newTour.distance" ng-options="distance as distance.name for distance in $ctrl.data.distances" required/>
													<option value="" disabled selected>Выберите дистанцию:</option>
												</select>
											</div>
										</div>

										<div class="form-group row">
											<span class="col-xs-4 control-label text-left" for="competition"><strong>Пол:</strong></span>
											<div class="col-xs-8">
												<div class="checkbox-inline" ng-repeat="gender in $ctrl.genders">
													<label>
														<input type="checkbox" value="{$ gender.name $}" ng-model="gender.selected"> {$ gender.name $}
													</label>
												</div>
											</div>
										</div>

										<div class="form-group row">
											<label class="col-xs-4 control-label text-left text-danger" for="out">Вне конкурса:</label>
											<div class="col-xs-8">
													<input type="checkbox" ng-model="$ctrl.newTour.out" id="out">
											</div>
										</div>

									</div>

									<div class="col-xs-5">

										<div class="form-group row">
											<span class="col-xs-4 control-label text-left" for="competition"><strong>Возрастные группы:</strong></span>
											<div class="col-xs-4">
												<div class="checkbox no-margin-top" ng-repeat="group in $ctrl.fetchedData.ages" ng-if="$even">
													<label>
														<input type="checkbox" value="{$ group.id $}" ng-model="group.selected" ng-disabled="$ctrl.disableAge(group.kids);"> {$ group.name $}
													</label>
												</div>
											</div>
											<div class="col-xs-4">
												<div class="checkbox no-margin-top" ng-repeat="group in $ctrl.fetchedData.ages" ng-if="$odd">
													<label>
														<input type="checkbox" value="{$ group.id $}" ng-model="group.selected" ng-disabled="$ctrl.disableAge(group.kids);"> {$ group.name $}
													</label>
												</div>
											</div>
										</div>

									</div>

							</div>

								<div class="row">
									<div class="col-xs-3 col-xs-offset-8">
										<button class="btn btn-lg btn-default" ng-click="$ctrl.addTours(); $ctrl.clearSelection($ctrl.data.ages); $ctrl.clearSelection($ctrl.genders);" ng-disabled="addTourForm.$invalid || $ctrl.selected($ctrl.genders).length === 0 || $ctrl.selected($ctrl.data.ages).length === 0;">Добавить</button>
									</div>
								</div>

							</form> <!-- End of Form -->
						</div>
					</div>

					<!-- All tours -->
					<ul class="basic-list">
						<li class="tour-edit-{$ tour.age $} list-margin" ng-repeat="tour in $ctrl.tours | orderBy: 'min_age'">
							{$ tour.name $}
							<span class="text-muted" ng-show="tour.num_of_competitors > -1">(участников: {$ tour.num_of_competitors $})</span>
							<span class="text-primary" ng-show="tour.new">(добавлена<span ng-show="tour.out">, вне конкурса</span>)</span>
							  <a href="#" ng-click="$ctrl.removeTour(tour.name, $ctrl.data.tours, $ctrl.data.ages, '.tour-edit-')" ng-show="tour.new || !tour.num_of_competitors"><span class="glyphicon glyphicon-remove"></span></a>
						</li>
					</ul> <!-- End of All tours -->

					<!-- Existing -->
					<div ng-show="$ctrl.existingTours.length" class="text-danger">
						<hr>
						<p>Следующие дисциплины уже есть в этих соревнованиях и не могут быть добавлены:<p>
						<ul class="basic-list">
							<li class="text-danger" ng-repeat="tour in $ctrl.existingTours"> {$ tour.name $}</li>
						</ul>
					</div> <!-- End of Existing -->

				</div>

			</div> <!-- End of Step 3 -->

			<!-- Step 4 -->
			<div ng-show="$ctrl.stepCounter.step === 4" class="animation-show-hide">
				<!-- Heading -->
				<div class="heading">
					<h2>Редактирование эстафет</h2>
				</div> <!-- End of Heading -->

				<div class="button-wrapper row">
					<button title="Вернуться к списку дисциплин" class="btn btn-lg btn-default pull-left col-lg-2" ng-click="$ctrl.stepCounter.prev()">
						<span class="glyphicon glyphicon-arrow-left"></span>
					</button>
					<button title="Перейти с сохранению соревнований" class="btn btn-lg btn-default pull-right col-lg-2" ng-click="$ctrl.step6BtnClick()">
						<span class="glyphicon glyphicon-arrow-right"></span>
					</button>
				</div>

					<!-- Add relays form -->
					<div class="row">
						<div class="add-tour-form col-xs-12">
							<!-- Form -->
							<form name="addRelayForm" novalidate>

							<div class="row">
									<div class="col-xs-5">
										<div class="form-group row">
											<label class="col-xs-4 control-label text-left" for="style">Стиль:</label>
											<div class="col-xs-8">
												<select class="form-control" name="style" ng-model="$ctrl.newRelay.style" ng-options="style as style.name for style in $ctrl.data.stylesRelay" required/>
													<option value="" disabled selected>Выберите стиль:</option>
												</select>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-xs-4 control-label text-left" for="distance">Дистанция:</label>
											<div class="col-xs-8">
												<select class="form-control" name="distance" ng-model="$ctrl.newRelay.distance" ng-options="distance as distance.name for distance in $ctrl.data.distancesRelay" required/>
													<option value="" disabled selected>Выберите дистанцию:</option>
												</select>
											</div>
										</div>
										<div class="form-group row">
											<span class="col-xs-4 control-label text-left" for="competition"><strong>Пол:</strong></span>
											<div class="col-xs-8">
												<div class="checkbox-inline" ng-repeat="gender in $ctrl.gendersRelay">
													<label>
														<input type="checkbox" value="{$ gender.name $}" ng-model="gender.selected"> {$ gender.name $}
													</label>
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-xs-4 control-label text-left text-danger" for="out">Вне конкурса:</label>
											<div class="col-xs-8">
													<input type="checkbox" ng-model="$ctrl.newRelay.out" id="out">
											</div>
										</div>
									</div>

									<div class="col-xs-5">
										<div class="form-group row">
											<span class="col-xs-4 control-label text-left"><strong>Возрастные группы:</strong></span>

											<div class="col-xs-4">
												<div class="checkbox no-margin-top" ng-repeat="group in $ctrl.fetchedData.agesRelay" ng-if="$even">
													<label>
														<input type="checkbox" value="{$ group.id $}" ng-model="group.selected" ng-disabled="$ctrl.disableAge(group.kids);"> {$ group.name $}
													</label>
												</div>
											</div>

											<div class="col-xs-4">
												<div class="checkbox no-margin-top" ng-repeat="group in $ctrl.fetchedData.agesRelay" ng-if="$odd">
													<label>
														<input type="checkbox" value="{$ group.id $}" ng-model="group.selected" ng-disabled="$ctrl.disableAge(group.kids);"> {$ group.name $}
													</label>
												</div>
											</div>
										</div>
									</div>
							</div>

								<div class="row">
									<div class="col-xs-3 col-xs-offset-8">
										<button type="button" class="btn btn-lg btn-default" ng-click="$ctrl.addRelays()" ng-disabled="addRelayForm.$invalid || $ctrl.selected($ctrl.gendersRelay).length === 0 || $ctrl.selected($ctrl.data.agesRelay).length === 0;">Добавить</button>
									</div>
								</div>

							</form> <!-- End of Form -->
						</div>
					</div>

					<!-- All relays -->
					<ul class="basic-list">
						<li class="relay-edit-{$ tour.age $} list-margin" ng-repeat="tour in $ctrl.data.toursRelay | orderBy: 'age'">
							{$ tour.name $}
							<span class="text-muted" ng-show="tour.num_of_competitors > -1">(участников: {$ tour.num_of_competitors $})</span>
							<span class="text-primary" ng-show="tour.new">(добавлена<span ng-show="tour.out">, вне конкурса</span>)</span>
							  <a href="#" ng-click="$ctrl.removeTour(tour.name, $ctrl.data.toursRelay, $ctrl.data.agesRelay, '.relay-edit-')" ng-show="tour.new || !tour.num_of_competitors"><span class="glyphicon glyphicon-remove"></span></a>
						</li>
					</ul> <!-- End of All relays -->

					<!-- Existing -->
					<div ng-show="$ctrl.existingRelays.length" class="text-danger">
						<hr>
						<p>Следующие дисциплины уже есть в этих соревнованиях и не могут быть добавлены:</p>
						<ul class="basic-list">
							<li class="text-danger" ng-repeat="tour in $ctrl.existingRelays"> {$ tour.name $}</li>
						</ul>
					</div> <!-- End of Existing -->

			</div> <!-- End of Step 5 -->

			<!-- Step 5 -->
			<div ng-show="$ctrl.stepCounter.step === 5" class="animation-show-hide">
				<!-- Heading -->
				<div class="heading">

					<h2>
						{$ $ctrl.data.name $}<br>
						({$ $ctrl.data.date_start | date:'dd.MM.yyyy' $} &ndash; {$ $ctrl.data.date_finish | date:'dd.MM.yyyy' $})
					</h2>

					<h3>
						<span ng-if="$ctrl.data.type === '0'">Детские соревнования</span>
						<span ng-if="$ctrl.data.type === '1'">Взрослые соревнования</span>
						<span ng-if="$ctrl.data.type === '2'">Смешанные соревнования</span>
					</h3>

				</div> <!-- End of Heading -->

				<div class="button-wrapper row">
					<button title="Вернуться к настройке эстафет" class="btn btn-lg btn-default pull-left col-lg-2" ng-click="$ctrl.stepCounter.prev()">
						<span class="glyphicon glyphicon-arrow-left"></span>
					</button>
					<button type="button" id="create-competition-button" title="Сохранить соревнования" class="btn btn-lg btn-primary pull-right col-lg-2" ng-click="$ctrl.submitForm()">
						<span class="glyphicon glyphicon-ok"></span>
					</button>
				</div>

				<div class="row">

					<div class="col-sm-6">
						<h3 class="small-heading">Индивидуальные дисциплины</h3>

						<div>
							<ul class="basic-list">
								<li class="tour-final-2-{$ tour.age $}" ng-repeat="tour in $ctrl.getFinalList($ctrl.edit, 'tours') | orderBy: 'min_age'">{$ tour.name $} <span class="text-primary" ng-show="tour.new">(добавлена<span ng-show="tour.out">, вне конкурса</span>)</span>
							</ul>
						</div>
					</div>

					<div class="col-sm-6">

						<h3 class="small-heading">Эстафеты</h3>

						<div>
							<ul class="basic-list">
								<li class="relay-final-{$ relay.age $}" ng-repeat="relay in $ctrl.getFinalList(true, 'toursRelay') | orderBy: 'age'">{$ relay.name $} <span class="text-primary" ng-show="relay.new">(добавлена<span ng-show="relay.out">, вне конкурса</span>)</span>
							</ul>
						</div>

					</div>
				</div>
			</div> <!-- End of Step 5 -->

		</div> <!-- End of container -->

	</div> <!-- End of createCompetitionApp -->

	{% else %}

	<div class="container">
		<h3 style="margin-top: 20%">
			<span style="font-size: larger" class="alt-color glyphicon glyphicon-alert"></span> Для просмотра этой страницы необходимо залогиниться.
		</h3>
	</div>

	{% endif %}

{% endblock %}

{% block additionaljs %}
	<script src="{% static 'libs/js/angular-animate.min.js' %}"></script> <!-- Angular animations -->
	<script src="{% static 'js/create-competition-app.js' %}"></script> <!-- Competition reg App -->
{% endblock %}
