{% extends 'pgups/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container">

	<!-- Heading -->
	<div class="heading">
		<h2><b>Команда {{team.name}}</b></h2>
	</div> <!-- End of Heading -->

	<table class="table table-striped table-hover table-bordered">
		<tbody>
				{% for item in result  %}
					<tr>
						<td class="column-name-wide">{{item.0.last_name}} {{item.0.first_name|title}}</td>
						<td class="column-result-wide">
							{% for competitor in item.1  %} 
								{{competitor.tour}} <br> 
							{% endfor %}
						</td>
					</tr>
				{% endfor %}
		</tbody>
	</table>

</div>

{% endblock %}