{% extends 'pgups/base.html' %}
{% load staticfiles %}
{% load extras %}
{% load l10n %}
{% block content %}

<div class="container">

	<!-- Heading -->
	<div class="heading heading-no-margin">
		<a class="decorated-link" href="{% url 'competition' competition_id=competition.id %}">
			<h1><b>{{competition.name}}</b></h1>
		</a>
	</div> <!-- End of Heading -->

	{% for cdsg in cdsg_list %}

		<!-- Single start -->
		<div class="single-start-container">

			<h2><b>{{cdsg.name}}</b></h2>

			{% for start in cdsg.start_set.all %}

				<!-- Start number -->
				<div class="start-number">
					<h3 class="pull-left">Заплыв {{start.num}}</h3>
					{% if user.is_authenticated %}
						<a class="btn-results btn-lg pull-right btn btn-info" href="../../start_result/{{start.id}}/">Редактировать результат</a>
					{% endif %}
				</div> <!-- End of Start number -->

				<table class="table table-striped table-hover table-bordered">
					<tbody>

						<tr>
							<td class="column-lane text-center light-blue-background">№</td>
							<td class="column-name light-blue-background">Участник</td>
							<td class="column-team text-center light-blue-background">Команда</td>
							<td class="column-age text-center light-blue-background">Категория</td>
							<td class="column-time text-center light-blue-background">Предв. время</td>
							<td class="column-time text-center light-blue-background">Результат</td>
						</tr>

					{% for competitor in start.competitor_set.all %}

						<tr>
							<td class="column-lane text-center light-blue-background">{{competitor.lane}}</td>
							<td class="column-name">{{competitor.person.first_name|title}} {{competitor.person.last_name|title}}</td>
							<td class="column-team text-center">{{competitor.userrequest.team}}</td>
							<td class="column-age text-center">{{competitor.age}}</td>
							<td class="column-time text-center">{{competitor.prior_time|formatSeconds|localize}}</td>
							<td class="column-time text-center">{% if competitor.disqualification == 0 %}
								<b>{{competitor.time|formatSeconds}}</b>
							{% else %}
								{% if  competitor.disqualification == 1 %}
									{% if competitor.person.gender == 'Ж'%} Не вышла {% else %} Не вышел {% endif %}
								{% endif %}
								{% if  competitor.disqualification == 2 %}
									Фальстарт
								{% endif %}
								{% if  competitor.disqualification == 3 %}
									Нарушение правил поворота
								{% endif %}
								{% if  competitor.disqualification == 4 %}
									Нарушение правил прохождения дистанции
								{% endif %}
							{% endif %}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>

			{% endfor %}

		</div> <!-- End of Single start -->

	{% endfor %}
</div>
{% endblock %}