{% extends 'pgups/base.html' %}
{% load staticfiles %}
{% block content %}

	<!-- Jumbotron -->
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-11">

					<h1>Регистрация соревнований</h1><br>
					<p class="lead">Заполните форму, выбрав необходимые настройки.</p>

				</div>
			</div>
		</div>
	</div> <!-- End of Jumbotron -->

	<div ng-app="createCompetitionApp" ng-controller="creationFormCtrl"> <!-- createCompetitionApp -->

		<form name="creationForm" class="form-horizontal" role="form" novalidate> <!-- creationForm -->

			<div class="container">

				<div class="heading">
					<h2>Общая информация</h2>
				</div>

				<!-- Name -->
				<div class="form-group">
					<label class="col-lg-4 col-md-4 col-sm-5 col-xs-12 control-label text-left" for="name">Название соревнований:</label>
					<div class="col-lg-5 col-md-5 col-sm-7 col-xs-12">
						<input class="form-control" name="name" ng-model="data.name" type="text" required/>
						<p class="error-block" ng-show="creationForm.name.$dirty && creationForm.name.$error.required">Введите название</p>
					</div>
				</div> <!-- End of Name -->

				<!-- Type -->
				<div class="form-group">
					<label class="col-lg-4 col-md-4 col-sm-5 col-xs-12 control-label text-left" for="representative">Тип соревнований:</label>
					<div class="col-lg-5 col-md-5 col-sm-7 col-xs-12">
						<select class="form-control" name="type" ng-model="data.type" type="text" required/>
							<option value="детские">детские</option>
							<option value="взрослые">взрослые</option>
						</select>
						<p class="error-block" ng-show="creationForm.type.$dirty && requestForm.representative.$error.required">Выберите тип</p>
					</div>
				</div> <!-- End of Type -->

				<!-- Start date -->
				<div class="form-group">
					<label class="col-lg-4 col-md-4 col-sm-5 col-xs-12 control-label text-left" for="name">Дата начала соревнований:</label>
					<div class="col-lg-5 col-md-5 col-sm-7 col-xs-12">
						<input class="form-control" name="date_start" ng-model="data.date_start" type="date" placeholder="2016-01-01" required/>
						<p class="error-block" ng-show="creationForm.date_start.$dirty && creationForm.date_start.$error.required">Введите дату начала соревнований</p>
						<p class="error-block" ng-show="creationForm.date_start.$dirty && creationForm.date_start.$error.date">Введите дату в формате 2016-01-01</p>
					</div>
				</div> <!-- End of Start date -->

				<!-- Finish date -->
				<div class="form-group">
					<label class="col-lg-4 col-md-4 col-sm-5 col-xs-12 control-label text-left" for="name">Дата окончания соревнований:</label>
					<div class="col-lg-5 col-md-5 col-sm-7 col-xs-12">
						<input class="form-control" name="date_finish" ng-model="data.date_finish" type="date" placeholder="2016-01-01" required/>
						<p class="error-block" ng-show="creationForm.date_finish.$dirty && creationForm.date_finish.$error.required">Введите дату окончания</p>
						<p class="error-block" ng-show="creationForm.date_finish.$dirty && creationForm.date_finish.$error.date">Введите дату в формате 2016-01-01</p>
					</div>
				</div> <!-- End of Finish date -->


				<div class="heading">
					<h2>Отметьте нужные возрастные группы, стили и дистанции</h2>
				</div>

				<div class="heading">
					<h2>Выберите туры</h2>
				</div>

				{$ data $}

			</div>

		</form> <!-- End of creationForm -->

	</div> <!-- End of createCompetitionApp -->


{% endblock %}