{% extends 'pgups/base.html' %}
{% load staticfiles %}
{% load extras %}
{% load l10n %}
{% block content %}

<div>
  <!-- Heading -->
  <div>
    <a class="decorated-link" href="{% url 'competition' competition_id=competition.id %}">
      <h1>{{ competition.name|capfirst }}</h1>
    </a>
  </div> <!-- End of Heading -->

  {% for cdsg in cdsg_list %}
    <!-- Single discipline -->
    <div class="single-start-wrapper">
      <h4>
        {{cdsg.name}}
        <a title="Печать результатов" class="waves-effect waves-light btn-floating blue darken-3 right" href="{% url 'cdsg_print' cdsg_id=cdsg.id %}" target="_blank">
          <i class="material-icons right">print</i>
        </a>
      </h4>

      {% for start in cdsg.start_set.all|dictsort:"num" %}

        <!-- Start number -->
        <div id="start{{start.num}}">
          <h5 class="left">Заплыв {{start.num}} ({{start.name}})</h5>
          {% if user.is_authenticated %}
            <div class="right">
              <a title="Редактировать результаты" class="waves-effect waves-light btn-floating blue darken-3" href="{% url 'start_result' start_id=start.id %}"><i class="material-icons right">mode_edit</i></a>
            </div>
          {% endif %}
        </div> <!-- End of Start number -->

        <table class="table bordered highlight">
          <thead>
            <tr>
              <th>№</th>
              <th>Участник</th>
              <th>Команда</th>
              <th class="center-align">Категория</th>
              <th class="center-align">Предв. время</th>
              <th class="center-align">Результат</th>
            </tr>
          </thead>
          <tbody>
          {% for competitor in start.competitor_set.all %}
            <tr>
              <td class="indigo-text text-darken-4">{{competitor.lane}}</td>
              <td>{{competitor.person.last_name|title}} {{competitor.person.first_name|title}}</td>
              <td>{{competitor.userrequest.team}}</td>
              <td class="center-align">{{competitor.age}}</td>
              <td class="center-align">{{competitor.prior_time|formatSeconds|localize}}</td>
              <td class="center-align">
                {% if  competitor.disqualification == 1 %}
                  {% if competitor.person.gender == 'Ж'%} Не вышла {% else %} Не вышел {% endif %}
                {% endif %}
                {% if  competitor.disqualification == 2 %} Фальстарт {% endif %}
                {% if  competitor.disqualification == 3 %} Нарушение правил поворота {% endif %}
                {% if  competitor.disqualification == 4 %} Нарушение правил прохождения дистанции {% endif %}
                {% if  competitor.time > 0 %}<b>{{competitor.time|formatSeconds}}</b>{% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endfor %}

    </div> <!-- End of Single discipline -->
  {% endfor %}
</div>
{% endblock %}
