{% extends 'pgups/base.html' %}
{% load staticfiles %}
{% block content %}

	{% if user.is_authenticated %}

	<div ng-app="sortableStartsApp" ng-controller="SortController as sortCtrl">

		<!-- {$ sortCtrl.data.starts_list $} -->

		<input type="hidden" name="csrf_token" ng-init="csrf_token='{{csrf_token}}'" ng-model="csrf_token">

		<div class="container">

			<!-- Heading -->
			<div class="heading heading-no-margin">
				<a class="decorated-link" href="{% url 'competition' competition_id=competition_id %}">
					<h1><b>{$ sortCtrl.data.competition_name $}</b></h1>
				</a>
			</div> <!-- End of Heading -->

			<div ui-sortable="sortCtrl.sortableStartList" ng-model="sortCtrl.data.starts_list">

				<div class="single-start start-{$ $index $}" ng-class="{'sortable-start-list': !$first}" ng-repeat="start in sortCtrl.data.starts_list">

					<!-- Start number -->
					<div class="start-number" ng-class="{'hidden': $first}">
						<h3 class="pull-left">Заплыв {$ $index $}</h3>
					</div> <!-- End of Start number -->

					<div class="sortable-start" ui-sortable="sortCtrl.sortableOptions" ng-model="start.competitors">

						<div class="single-competitor-sort" ng-repeat="competitor in start.competitors">
							{$ competitor.last_name | ucf $} {$ competitor.first_name | ucf $} {$ competitor.age $} {$ competitor.team $} {$ competitor.prior_time $}
						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	{% else %}

	<div class="container">
		<h3 style="margin-top: 20%">
			<span style="font-size: larger" class="alt-color glyphicon glyphicon-alert"></span> Для просмотра этой страницы необходимо залогиниться.
		</h3>
	</div>

	{% endif %}

{% endblock %}

{% block additionaljs %}
	<script src="{% static 'js/sortable-starts.js' %}"></script> <!-- SortableStartsApp -->
	<script src="{% static 'js/sortable.js' %}"></script> <!-- sortable directive -->
{% endblock %}