{% extends 'pgups/base.html' %}
{% load staticfiles %}
{% load i18n widget_tweaks %}
{% block content %}
{{competition.name}}

<hr>

{% if not competition.finished %}
Заявки:
{% for userrequest in competition.userrequest_set.all %}
<li><a href="../../userrequest/{{userrequest.id}}/">{{userrequest.team}} : {{userrequest.date}}</a></li>
{% endfor %}

<hr>

<a href="../../all_starts/{{competition.id}}/">Текущая сетка стартов</a><br>
<a href="#" class="btn btn-danger btn-sm remove-competitor">Перегенерировать старты</a>
<hr>

{% else %}
<a href="../../results/starts/{{competition.id}}/">Результаты по заплывам и дорожкам</a><br>
<a href="../../results/tours/{{competition.id}}/">Результаты по турам</a>

{% endif %}



{% endblock %}