{% extends 'pgups/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
{% for cdsg in cdsg_list %}
	<div class="single-cdsg row">
		<h3 class="single-cdsg-heading bold">{{cdsg.name}}</h3>
		{% for start in cdsg.start_set.all %}
		<div class="single-cdsg-start">
			<div class="single-cdsg-start-num">
				<span class="start-num">Заплыв {{start.num}}</span> 
				<a class="start-results pull-right btn btn-info" href="../../start_result/{{start.id}}/">Результат</a>
			</div>
			<table class="single-cdsg-table table table-striped table-hover table-bordered">
				<tbody>
				{% for order in start.order_set.all %}
					<tr>
						<td class="order-lane text-center col-md-1">{{order.lane}}</td>
						<td class="order-name">{{order.competitor.person.first_name}} {{order.competitor.person.last_name}}</td>
						<td class="order-team">{{order.competitor.userrequest.team}}</td>
						<td class="order-age text-center">{{order.competitor.age}}</td>
						<td class="order-time text-center">{{order.competitor.prior_time}}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		{% endfor %}
	</div>
{% endfor %}
</div>
{% endblock %}