{% load staticfiles %}
{% load extras %}

<!DOCTYPE html>
<html lang="ru">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/print.css' %}">
	<script src="{% static 'libs/js/jquery.min.js' %}"></script> <!-- jQuery core -->
	<script src="{% static 'libs/js/jquery-ui.min.js' %}"></script> <!-- jQueryUI -->
	<title> Итоговые протоколы {{competition.name}}</title>

</head>
<body>

<div id="results_div">
<table>
	<tr><td colspan="5">
				<h2>Результаты соревнований: {{competition.name}}</h2>
	</td></tr>

	{% for t in res.0 %}

	<tr><td colspan="5"><h2>{{t.0.name}}</h2></td></tr>


		{% for tuple in t.1 %}

				<table>
					<col class="col0">
					<col class="col1">
					<col class="col2">
					<col class="col3">
					<col class="col4">

					<tr><th colspan="5" class="cdsg_name">{{tuple.0.style|capfirst}}, {{tuple.0.distance|capfirst}},
						{{tuple.0.gender|capfirst}}, {{tuple.0.age|capfirst}} </th></tr>
						{% for competitor in tuple.1 %}
					<tr>
						<td class="position">{{ forloop.counter }}</td>
						<td class="result">{% if competitor.result %} {{competitor.result}} {% endif %}
						{% if not competitor.main_distance %} в/з {% endif %}</td>
						<td class="competitor">
							{% if competitor.main_distance%}<span><b>{% endif %}
							{{competitor.person.last_name|title}} {{competitor.person.first_name|title}}
							{% if competitor.main_distance%}</b></span>{% endif %}
							 ({{competitor.person.birth_year}} г.р.)
						</td>
						<td class="team">
							{% if competitor.userrequest.team %}
							{{competitor.userrequest.team.name}} ({{competitor.userrequest.representative}})
							{% endif %}
						</td>
						<td class="time"> {{competitor.time|formatSeconds}}  {% if competitor.disqualification > 0 %} <b>

									{% if  competitor.disqualification == 1 %}
										{% if competitor.person.gender == 'Ж'%} Не вышла {% else %} Не вышел {% endif %}
									{% endif %}
									{% if  competitor.disqualification == 2 %}
										Фальстарт
									{% endif %}
									{% if  competitor.disqualification == 3 %}
										Нарушение правил поворота
									{% endif %}
									{% if  competitor.disqualification == 4 %}
										Нарушение правил прохождения дистанции
									{% endif %}


						</b> {% endif %}</td>
					</tr>
						{% endfor %}
				</table>

		{% endfor %}

	{% endfor %}

    <tr><td></td></tr>
    <tr><td colspan="5"><h1>Вне конкурса</h1></td></tr>



	{% for t in res.1 %}

	<tr><td colspan="5"><h2>{{t.0.name}}</h2></td></tr>


		{% for tuple in t.1 %}

				<table>
					<col class="col0">
					<col class="col1">
					<col class="col2">
					<col class="col3">
					<col class="col4">

					<tr><th colspan="5" class="cdsg_name">{{tuple.0.style|capfirst}}, {{tuple.0.distance|capfirst}},
						{{tuple.0.gender|capfirst}}, {{tuple.0.age|capfirst}} </th></tr>
						{% for competitor in tuple.1 %}
					<tr>
						<td class="position">{{ forloop.counter }}</td>
						<td class="result">{% if competitor.result %} {{competitor.result}} {% endif %}
						{% if not competitor.main_distance %} в/з {% endif %}</td>
						<td class="competitor">
							{% if competitor.main_distance%}<span><b>{% endif %}
							{{competitor.person.last_name|title}} {{competitor.person.first_name|title}}
							{% if competitor.main_distance%}</b></span>{% endif %}
							 ({{competitor.person.birth_year}} г.р.)
						</td>
						<td class="team">
							{% if competitor.userrequest.team %}
							{{competitor.userrequest.team.name}} ({{competitor.userrequest.representative}})
							{% endif %}
						</td>
						<td class="time"> {{competitor.time|formatSeconds}}  {% if competitor.disqualification > 0 %} <b>

									{% if  competitor.disqualification == 1 %}
										{% if competitor.person.gender == 'Ж'%} Не вышла {% else %} Не вышел {% endif %}
									{% endif %}
									{% if  competitor.disqualification == 2 %}
										Фальстарт
									{% endif %}
									{% if  competitor.disqualification == 3 %}
										Нарушение правил поворота
									{% endif %}
									{% if  competitor.disqualification == 4 %}
										Нарушение правил прохождения дистанции
									{% endif %}


						</b> {% endif %}</td>
					</tr>
						{% endfor %}
				</table>

		{% endfor %}

	{% endfor %}

	</table>

    <br><br>




<table>
	<tr><td colspan="5">
				<h2>Результаты эстафет</h2>
	</td></tr>

	{% for t in res_relay %}

	<tr><td colspan="5"><h2>{{t.0.name}}</h2></td></tr>


		{% for tuple in t.1 %}

				<table>
					<col class="col0">
					<col class="col1">
					<col class="col2">
					<col class="col3">
					<col class="col4">

					<tr><th colspan="5" class="cdsg_name">{{tuple.0.style|capfirst}}, {{tuple.0.distance|capfirst}},
						{{tuple.0.gender|capfirst}}, {{tuple.0.age|capfirst}} </th></tr>
						{% for competitor in tuple.1 %}
					<tr>
						<td class="position">{{ forloop.counter }}</td>
						<td class="result">{% if competitor.result %} {{competitor.result}} {% endif %}</td>
						<td class="competitor">{{competitor.name}}</td>
						<td class="team">
							{% if competitor.team.name %}
							{{competitor.team.name}}
							{% endif %}
						</td>
						<td class="time"> {{competitor.time|formatSeconds}}  {% if competitor.disqualification > 0 %} <b>

									{% if  competitor.disqualification == 1 %}
										{% if competitor.tour.gender == 'Ж'%} Не вышла {% else %} Не вышел {% endif %}
									{% endif %}
									{% if  competitor.disqualification == 2 %}
										Фальстарт
									{% endif %}
									{% if  competitor.disqualification == 3 %}
										Нарушение правил поворота
									{% endif %}
									{% if  competitor.disqualification == 4 %}
										Нарушение правил прохождения дистанции
									{% endif %}


						</b> {% endif %}</td>
					</tr>
						{% endfor %}
				</table>

		{% endfor %}

	{% endfor %}

	</table>
</div>
<br>




<a id="link" href="#">Скачать</a>

<script>
$("a").on("click", function () {
		var d = new Date().toISOString().slice(0, 19).replace(/-/g, "");
		$(this).attr("href", "data:application/vnd.ms-excel,"+document.getElementById('results_div')
		.innerHTML.replace(/ /g, '%20')).attr("download", "final-" + d + ".xls");
});
</script>


</body>
</html>


