{% extends 'pgups/base.html' %}
{% load staticfiles %}
{% block content %}

<h1>Соревнования</h1>

<table class="bordered highlight">
  <thead>
    <tr>
      <th>Даты проведения</th>
      <th>Название</th>
      <th>Тип</th>
      <th>Статус</th>
    </tr>
  </thead>

  <tbody>
  {% for competition in competitions %}
    <tr {% if not competition.finished %} style="font-weight: bold" {% endif %}>
      <td style="font-size: smaller">
        {{competition.date_start|date:"d.m.Y"}} &ndash; {{competition.date_end|date:"d.m.Y"}}
      </td>
      <td>
        <a class="blue-text text-darken-2" href="competition/{{competition.id}}/">
          {{competition.name|capfirst}}
        </a>
      </td>
      <td>
        {{competition.typ|lower}}
      </td>
      <td>
      {% if competition.finished %}
        <span class="blue-text text-darken-4">завершены</span>
      {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
