{% extends 'pgups/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container">
	<div class="heading">
		<h1><b>Соревнования</b></h1>
	</div>
	<ul class="basic-list basic-list-larger">
		{% for competition in competitions %}
		<li>
			<a href="competition/{{competition.id}}/">
				{{competition.name}} ({{competition.typ}}) <span style="font-size:smaller">({{competition.date_start|date:"d.m.Y"}} &ndash; {{competition.date_end|date:"d.m.Y"}})</span>
			</a>
			{% if competition.finished %} 
				<span class="alt-color"> (завершены) </span> 
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</div>

{% endblock %}