{% extends 'pgups/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container">
	<div class="heading">
		<h1>{{person.first_name}} {{person.last_name}} ({{person.birth_year}})</h1>
	</div>

	<h2>Участие:</h2>

	<ul class="basic-list">
		{% for competitor in person.competitor_set.all %}
		<li>
			{{competitor.userrequest.competition}}: {{competitor.tour}}
			{% if competitor.userrequest.competition.finished %}
				(<b>{{competitor.time}}, {{competitor.result}}</b>)
			{% endif %}
		</li>
		{% endfor %}
	</ul>

</div>

{% endblock %}