{% load staticfiles %}

<html>

<meta charset="utf-8" /> 

<head>

	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	
</head>

<body>

<div>

    <h2>Техническая заявка на участие в соревнованиях по плаванию</h2>

    <p>
    Пожалуйста, внимательно заполните заявку. Укажите имена и фамилии участников, год рождения,
    основную и при необходимости дополнительную дистанцию, а также предварительное время.
    Все поля обязательны для заполнения.
    </p>

</div>

<div>      

    <form method="POST" class="request-form">{% csrf_token %}
   
        <h3 id="request-form-header">Заявитель</h3>

        {{ request_form.as_p }}

        <div id="form_set"> 

	        {{ request_person_formset.management_form }}
	        {{ request_person_formset.non_form_errors }}

	        <hr>           
	        {% for form in request_person_formset %}
	        <p>
	            {{ form.as_table }}
	        </p>
	        {% endfor %}

	        {{ request_competitor_formset.management_form }}
	        {{ request_competitor_formset.non_form_errors }}

	        {% for form in request_competitor_formset %}
	        
	            {{ form.as_table }}
	            <br>

	        {% endfor %}

        </div>

        <input type="button" value="Добавить участника" id="add_more">

		<div id="empty_form" style="display:none">
			<hr>
			<p>
	        	{{ request_person_formset.empty_form.as_table }}
	    	</p>
		</div>

		<div id="empty_form2" style="display:none">
			
	        	{{ request_competitor_formset.empty_form.as_table }}
	        <br>
		</div>		

		<script>
		    $('#add_more').click(function() {
		        var form_idx = $('#id_person_set-TOTAL_FORMS').val();
		        var form_idx2 = $('#id_competitor_set-TOTAL_FORMS').val();

		        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
		        $('#form_set').append($('#empty_form2').html().replace(/__prefix__/g, form_idx2));
		        $('#form_set').append($('#empty_form2').html().replace(/__prefix__/g, parseInt(form_idx2)+1));

		        $('#id_person_set-TOTAL_FORMS').val(parseInt(form_idx) + 1);
		        $('#id_competitor_set-TOTAL_FORMS').val(parseInt(form_idx2) + 2);
		    });
		</script>

        <button type="submit">Отправить заявку</button>

    </form>

    {% if messages %}

            <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>

    {% endif %}

</div>     
</body>
</html>