{% load staticfiles %}
{% load extras %}

<!DOCTYPE html>
<html lang="ru">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/print.css' %}">
	<title> Стартовые протоколы</title>
</head>

<h2>Лично-командное первенство по плаванию посвящённое 30-летию Дома Физической Культуры ФГБОУ ВО ПГУПС Императора Александра I, среди детей 6-17 лет (бассейн 25 метров)</h2>

Утверждаю<br>
Директор Дома физической культуры Н.С. Рогалев<br>
24 апреля 2016
<br>
<hr>
<h3>Стартовые протоколы</h3>
<div>
	{% for cdsg in cdsg_list %}
		<div class="div-table">
			<table>

                <col class="col0">
				<col class="col1">
				<col class="col2">
				<col class="col3">

				<tr><th colspan="4" class="cdsg_name">{{cdsg.name|capfirst}} </th></tr>
					{% for start in cdsg.start_set.all %}
                <tr><th colspan="4">Заплыв {{start.num}} ({{start.name}})</th></tr>

                    {% for competitor in start.competitor_set.all %}
				<tr>
                    <td class="lane"> {{competitor.lane}}</td>
					<td class="competitor">
						{% if competitor.main_distance%}<span><b>{% endif %}
						{{competitor.person.last_name|title}} {{competitor.person.first_name|title}}
						{% if competitor.main_distance%}<span><b>{% endif %}
					</td>
					<td class="team">{{competitor.userrequest.team.name}}</td>
					<td class="time"> {{competitor.age.name}}</td>
				</tr>
					{% endfor %}
                    {% endfor %}
			</table>
		</div>

	{% endfor %}
	</div>


<body>

</body>
</html>