{% extends 'pgups/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container">

	<div class="heading">
		<h2><b>{{tour_name}}</b></h2>
	</div>

	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-10 col-xs-12">
			<table class="result-tour-table table table-striped table-hover table-bordered">
				<tbody>
				        <tr>
                            <td>Участник</td>
                            <td>Предварительное время (мин:сек)</td>
                        </tr>
					{% for pair in res %}
						<tr>
							<td class="result-tour-name">
								{{pair.0}}
							</td>
							<td class="result-tour-result">
								{{pair.1}}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

</div>

{% endblock %}