{% extends 'pgups/base.html' %}
{% load staticfiles %}
{% block content %}

<div>

  <div class="heading">
    <a class="decorated-link" href="/competition/{{ competition_id }}/">
      <h1>{{ competition_name|capfirst }}</h1>
    </a>
    <h4>{{tour_name}}, подтверждённые участники</h4>
  </div>

  <table class="table highlight bordered">
    <thead>
      <tr>
        <th>Участник</th>
        <th>Предварительное время (мин:сек)</th>
      </tr>
    </thead>
    <tbody>
      {% for pair in res %}
        <tr>
          <td class="result-tour-name">
            {{pair.0}}
          </td>
          <td class="result-tour-result">
            {{pair.1}}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


</div>

{% endblock %}
