{% extends 'pgups/base.html' %}
{% load staticfiles %}
{% block content %}

<!-- Notie messages -->
{% for message in messages %}
	<script src="{% static 'js/notie.js' %}"></script>
	<script> notie.alert(1, 'Изменения сохранены', 0.5); </script>
{% endfor %}

<div class="container">

	<!-- Heading -->
	<div class="heading">

		<a class="decorated-link" href="/competition/{{ userrequest.competition.id }}/">
			<h1><b>{{ userrequest.competition.name }}</b></h1>
		</a>

		<h2><b>
			{% if userrequest.team %}
			Заявка команды "{{userrequest.team}}", {{userrequest.representative}}
			{% else %}
			Индивидуальная заявка
			{% endif %}
			 ({{userrequest.date|date:"d.m.Y"}})
		</b></h2>
	</div> <!--End of Heading -->

	<h3>Участники:</h3>

		{% if user.is_authenticated %}<form role="form" method="POST">{% csrf_token %}

		{{ competitor_formset.management_form }}

			<table class="table table-striped table-hover table-bordered">

				<tr>
					<td class="column-name light-blue-background"><b>Участник</b></td>
					<td class="column-tour padding-15 light-blue-background"><b>Дистанция</b></td>
					<td class="column-approved padding-15 light-blue-background"><b>Подтверждение</b></td>
				</tr>

				<tbody>
				{% for competitor_form in competitor_formset %}
					{{competitor_form.id}}

					<tr>
						<td class="column-name">
							{% if competitor_form.instance.main_distance%}<span><b>{% endif %}
							{{competitor_form.instance.person.last_name|title}} {{competitor_form.instance.person.first_name|title}}
							{% if competitor_form.instance.main_distance%}</b></span>{% endif %}
						</td>
						<td class="column-tour padding-15">
							{% if competitor_form.instance.main_distance%}<span><b>{% endif %}
							{{competitor_form.instance.tour.style.name}} {{competitor_form.instance.tour.distance.name}}
							{% if competitor_form.instance.main_distance%}</b></span>{% endif %}
						</td>
						<td class="column-approved padding-15 text-center">{{competitor_form.approved}}</td>
					</tr>

				{% endfor %}

				</tbody>
			</table>
			<div class="userrequest-button-wrapper">
				<a href="{% url 'regrequest' userrequest_id=userrequest.id %}/" class="btn btn-lg btn-default pull-left"><span class="glyphicon glyphicon-pencil"></span> Редактировать заявку</a>
				<button class="btn btn-lg btn-success pull-right" type="submit">Сохранить изменения <span class="glyphicon glyphicon-ok"></span></button>
			</div>
		</form>

			{% else %}
			<table class="table table-striped table-hover table-bordered">
                {% for person in persons %}
				<tr>
					<td>
						{{person.last_name|title}} {{person.first_name|title}}
					</td>
				</tr>
                {% endfor %}
			</table>
			{% endif %}
</div>

{% endblock %}
