{% extends 'pgups/base.html' %}
{% load staticfiles %}
{% load extras %}
{% block content %}

<!-- Notie messages -->
{% for message in messages %}
  <script src="{% static 'libs/js/notie.min.js' %}"></script>
  <script> notie.alert(1, 'Изменения сохранены', 0.5); </script>
{% endfor %}

<div>
  <!-- Heading -->
  <div class="heading">
    <a class="decorated-link" href="/competition/{{ userrequest.competition.id }}/">
      <h1>{{ userrequest.competition.name|capfirst }}</h1>
    </a>

    <h4>
      {% if userrequest.team %}
      Заявка команды "{{userrequest.team}}", {{userrequest.representative}}
      {% else %}
      Индивидуальная заявка
      {% endif %}
       ({{userrequest.date|date:"d.m.Y"}})
    </h4>
  </div> <!--End of Heading -->

    {% if user.is_authenticated %}
    <form role="form" method="POST">{% csrf_token %}

    {{ competitor_formset.management_form }}

      <table class="table highlight bordered">
        <thead>
          <tr>
            <th class="column-name">Участник</td>
            <th class="column-tour">Дистанция</td>
            <th class="column-approved">Подтверждение</td>
          </tr>
        </thead>

        <tbody>
        {% for competitor_form in competitor_formset %}
          {{competitor_form.id}}
          <tr>
            <td class="column-name">
              <span{% if competitor_form.instance.main_distance %} style="font-weight: bold" {% endif %}>
                {{competitor_form.instance.person.last_name|title}} {{competitor_form.instance.person.first_name|title}}
              </span>
              {{competitor_form.instance.person.birth_year}} г.р.
              ({{competitor_form.instance.age.name}} лет {{competitor_form.instance.person.gender}})
              {% if competitor_form.instance.tour.out %}В/К{% endif %}
              <a href="{% url 'regrequest' userrequest_id=userrequest.id %}/">(Редактировать)</a>
            </td>
            <td class="column-tour">
              <span {% if competitor_form.instance.main_distance%} style="font-weight: bold" {% endif %}>
              {{competitor_form.instance.tour.style.name}} {{competitor_form.instance.tour.distance.name}} ({{competitor_form.instance.prior_time|formatSeconds}})
              </span>
            </td>
            <td class="column-approved center-align">
              {{competitor_form.approved}}
              <label for="{{ competitor_form.approved.id_for_label }}"></label>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <div class="button-wrapper">
        <a href="{% url 'regrequest' userrequest_id=userrequest.id %}/" class="waves-effect waves-light btn left blue darken-3">
          Редактировать заявку <i class="material-icons right">mode_edit</i>
        </a>
        <button class="waves-effect waves-light btn right blue darken-3" type="submit">
          Сохранить изменения <i class="material-icons right">done</i>
        </button>
      </div>
    </form>

      {% else %}
      <table class="table highlight bordered">
        {% for person in persons %}
        <tr>
          <td>
            {{person.last_name|title}} {{person.first_name|title}}
          </td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}
</div>

{% endblock %}
