body {
	background-color: #3B3B3B;
	font-family: Arial, Helvetica, sans-serif;
	color: #FAEDED;
}


h3 {
	color: #FAE6BB;
}

p {
	color: #FAEDED;
}

textarea, input {
	width: auto;
	height: auto;
	background-color: #FAEDED;
	color: #3B3B3B;
} 

select {
	width: auto;
	height: auto;
} 

fieldset, form {
	color: #FAEDED;
}

button {
	background-color: #FAEDED;
	color: #3B3B3B;
}


#content {
	width: 100%;
	height: auto;
}


a{
	color:#FFFFFF;
	text-decoration: underline;
	cursor: pointer;
}

a:hover,
a:active,
a:focus{
	outline: 0;
	color:#30D5C8;
	text-decoration:underline;
}

#content > h1 {
	text-align: center;
	color: #FAE6BB;
	padding: 5px;
}

#header {
	width: 45%;
	font-size: 13pt;
	font-weight: normal;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

#left {
	position: relative;
	float: left;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	padding-left: 5%;
}

#right {
	position: relative;
	float: left;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	padding-right: 5%;

}

#request-form {
	width: 100%;
	height: auto;
}
