/* basic styles */
/*==============*/
html {
  position: relative;
  min-height: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}
/* sticky footer */
body {
  margin-bottom: 60px;
}
/* helper styles */
/*===============*/
.alt-color {
  color: #5f021f;
}
.light-blue-background {
  background-color: #b9f2ff;
}
.note {
  font-size: 0.8em;
}
.heading {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #979a9d;
}
.small-heading {
  margin-bottom: 20px;
}
.heading-no-margin {
  margin-bottom: 0;
}
.basic-list {
  list-style-type: circle;
}
.basic-list li {
  margin-bottom: 5px;
}
.basic-list-larger {
  font-size: 1.2rem;
}
.no-padding {
  padding: 0;
}
.btn-xxl {
  padding: 16px 22px;
  font-size: 1.7em;
  border-radius: 10px;
}
.hidden-field {
  display: none;
}
.no-type {
  list-style-type: none;
}
/* index, login info, top right */
.navbar .login {
  margin: 13px 0;
  color: #777;
}
.decorated-link {
  text-decoration: underline;
}
.bold {
  font-weight: bold;
}
/* Competition page */
/*==================*/
.competition-menu {
  margin-bottom: 20px;
}
.generate-starts {
  margin-bottom: 10px;
  float: left;
  clear: both;
}
.starts-btn {
  margin-bottom: 10px;
  float: left;
}
.lanes-select {
  margin-bottom: 40px;
  clear: both;
}
.ages-select {
  margin-left: 10px;
}
/* Forms       */
/*=============*/
.person-form {
  margin-bottom: 20px;
}
/* left-aligning text inside labels */
.control-label.text-left {
  text-align: left;
}
/* centering submit button */
.col-centered {
  margin: 0 auto;
  float: none;
}
/* overriding bootstrap transition */
.form-control {
  -webkit-transition: none;
  transition: none;
}
.error-block {
  position: relative;
  top: 8px;
  color: #5f021f;
}
input.ng-invalid.ng-dirty,
select.ng-invalid.ng-dirty {
  border-color: #5f021f;
  box-shadow: 0 0 8px #5f021f;
  -webkit-transition: none;
  transition: none;
}
.request-form {
  margin-bottom: 30px;
}
.add-person-button {
  margin-bottom: 20px;
}
.remove-competitor-btn {
  padding: 5px 8px 3px;
}
/* zeroing margin because 
   top button is hidden */
#add-competitor-person-0 {
  margin-top: 0;
}
/* hiding first persons remove button on load
   (at least one person per request required) */
#remove-person-person-0 {
  display: none;
}
/* hiding remove-competitor-0 button of each person
   (at least one competitor per person required) */
.remove-competitor-competitor-0 {
  display: none;
}
.single-competitor {
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
/* Footer */
/*========*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
/*    Tables         */
/*===================*/
/* allowing to set custom column width */
.table {
  table-layout: fixed;
}
.single-start-container {
  padding: 15px 0 15px;
  border-bottom: 1px solid #979a9d;
}
.start-number {
  margin-bottom: 10px;
  overflow: hidden;
}
.btn-results {
  margin-top: 10px;
}
/* Table columns */
.column-lane {
  width: 4%;
}
.column-name {
  width: 40%;
}
.column-name-narrow {
  width: 30%;
}
.column-disqualified {
  width: 11%;
}
.column-disqualified select {
  width: 100%;
}
.column-team {
  width: 17%;
}
.column-age,
.column-time {
  width: 13%;
}
.column-result > input {
  width: 100%;
}
.column-result-start > input {
  width: 50%;
}
.column-tour {
  width: 20%;
}
.column-approved {
  width: 10%;
  word-break: break-all;
}
.column-approved > input[type='checkbox'] {
  margin: 0 10px;
  -webkit-transform: scale(2);
          transform: scale(2);
}
/* padding overriding bootstrap */
.column-lane,
.column-name,
.column-team,
.column-age,
.column-name-narrow,
.column-time {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.column-disqualified,
.column-result,
.column-result-start {
  padding-top: 10px !important;
}
.padding-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.column-time-animation {
  -webkit-animation-name: greenish;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: greenish;
          animation-name: greenish;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
.column-name-wide {
  padding: 10px !important;
  width: 70%;
}
.column-result-wide {
  padding: 10px !important;
  width: 30%;
}
/*    Results tour    */
.result-tour {
  margin-bottom: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  border-bottom: 1px solid #979a9d;
}
.result-tour-finished {
  float: left;
}
.result-tour-finished h3 {
  margin-bottom: 20px;
}
.result-tour-skipped {
  margin-top: 16px;
  float: left;
}
/* Creation form */
/*===============*/
.creation-form {
  padding: 30px 0;
}
.animation-show-hide {
  opacity: 1;
}
.animation-show-hide.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.animation-show-hide.ng-hide {
  opacity: 0;
}
.button-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 50px;
  overflow: hidden;
  border-top: 1px solid #979a9d;
}
/* Login form */
/*============*/
.login-form {
  padding: 30px;
  padding-bottom: 15px;
  background-color: #eee;
  border-radius: 10px;
}
/* Sortable   */
/*============*/
.fix-to-top {
  position: fixed;
  top: 0;
}
.remove-start-button {
  margin-top: 15px;
  padding-bottom: 0;
  font-size: 1.1em;
}
.button-margin {
  margin: 40px 0;
}
.single-start-sort {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 0;
  background-color: #eee;
  border-radius: 10px;
}
.single-competitor-sort {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
}
.sort-buffer,
.competitor-list-sort {
  padding: 15px 25px;
  padding-bottom: 5px;
  border: 2px dotted #979a9d;
  border-radius: 10px;
}
.competitor-list-sort {
  min-height: 50px;
  min-height: 8vh;
}
.sort-buffer {
  overflow-y: auto;
  min-height: 50px;
  min-height: 10vh;
  max-height: 500px;
  max-height: 70vh;
}
.sort-buffer-wrapper {
  padding-top: 20px;
}
/* HIGHLIGHTS for sortables */
.single-competitor-sort-highlight {
  margin: 10px;
  padding: 10px;
  height: 40px;
  border: 2px dashed #808080;
  border-radius: 10px;
  opacity: 0.3;
}
.single-start-sort-highlight {
  margin: 10px;
  padding: 10px;
  width: 50%;
  height: 150px;
  border: 2px dashed #979a9d;
  border-radius: 10px;
  opacity: 0.8;
}
@-webkit-keyframes greenish {
  0% {
    background-color: rgba(128,255,128,0.6);
  }
  100% {
    background-color: #fff;
  }
}
@keyframes greenish {
  0% {
    background-color: rgba(128,255,128,0.6);
  }
  100% {
    background-color: #fff;
  }
}
