@media all {

	body {
		width: 100%;
		margin: 0;
		font-size: 11pt;
	}

	.cdsg_name {
	    font-size: 15pt;
	}

	table {

		border-collapse: collapse;
		text-align: left;
		width: 100%;
		table-layout: fixed;
		page-break-inside: auto;
	}

	.div-table {
		padding-bottom: 10px;
		margin-left: 10px;
		/*display: inline-block;*/
		width: 80%;
		vertical-align: top;
		zoom: 1;

		page-break-inside: avoid;
		page-break-after: auto;
	}

	tr {

	}

	td,th {
		border: 1px solid black;
		padding: 3px;
	}

	.col0 {
	    width: 3%;
	}

	.col1 {
		width: 39%;
	}

	.col2 {
		width: 19%;
	}

	.col3 {
		width: 39%;
	}

}