@media all {

	body {
		width: 100%;
		margin: 0;
	}

	table {

		border-collapse: collapse;
		text-align: left;
		width: 100%;
		table-layout: fixed;
		page-break-inside: auto;
	}

	.div-table {
		padding-bottom: 10px;
		margin-left: 10px;
		display: inline-block;
		width: 45%;
		vertical-align: top;
		zoom: 1;
	}

	tr {
		page-break-inside: avoid;
		page-break-after: auto;
	}

	td,th {
		border: 1px solid black;
		padding: 3px;
	}

	.col1 {
		width: 50%;
	}

	.col2 {
		width: 25%;
	}

	.col3 {
		width: 25%;
	}

}