.team-result-row {
  box-shadow: none;
  min-height: 40px;
  padding: 10px;
  margin-bottom: 0;
}

.team-result-row:not(:last-child) {
  border-bottom: 1px solid #f2f2f2;
}

.team-result-handle {
  cursor: pointer;
}

.team-result-table-wrapper {
  max-height: 50vh;
  overflow: auto;
}

.team-result-table td:nth-child(1) {
  width: 40%;
}

.team-result-table td:nth-child(2) {
  width: 40%;
}

.team-result-table td:nth-child(3) {
  width: 10%;
  text-align: center;
}

.team-result-table td:nth-child(4) {
  width: 10%;
  text-align: center;
}

.single-competitor-sort {
  cursor: move;
}

.relay-start-number {
  margin-bottom: 0;
}

.edit-relay-name {
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
}

.edit-relay-name .glyphicon-pencil {
  padding: 3px;
  border-radius: 3px;
}

.edit-relay-name .glyphicon-pencil:hover {
  background-color: #ccc;
}

.edit-relay-name h4 {
  line-height: 1.5;
  min-height: 30px;
}

.edit-relay-name input {
  width: 100%;
  border-radius: 3px;
  outline: none;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding-right: 30px;
  padding-left: 5px;
}

.edit-relay-name .glyphicon-ok {
  position: absolute;
  top: 6px;
  right: 7px;
  color: green;
  cursor: pointer;
}

.single-start-sort {
  background-color: #f2f2f2;
}

.single-start-sort.single-start-movable {
  cursor: move;
}

.sort-buffer,
.competitor-list-sort {
  border-width: 1px;
}
